*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
header{
    height: 50px;
}

main{
    height: 500px;
}
h1 {
    color: gold;
    filter: brightness(85%);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:  Verdana;
}

h2{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

p{
    font-size: large;
    color: darkslategray;
}